TELEGRAM_TOKEN = "TELEGRAM_TOKEN"
WEB_APP_URL = "WEB_APP_URL"
RECEIPT_PROCESSOR_API = "RECEIPT_PROCESSOR_API"
DB_HOST = 'DB_HOST'
DB_PORT = DB_PORT
DB_USERNAME = 'DB_USERNAME'
DB_PASSWORD = 'DB_PASSWORD'
DB_NAME = 'DB_NAME'